In [73]:
import pandas as pd
df = pd.DataFrame({'A':['type1','type2','type2'],
                   'B':['type1','type2','type3'],
                   'C':['type1','type3','type3']})
print(df)
for i in df.columns:
    if type(df[i][0]) == str:
        df[i]=df[[i]].apply(pd.factorize)[0][0]
df

       A      B      C
0  type1  type1  type1
1  type2  type2  type3
2  type2  type3  type3

   A  B  C
0  0  0  0
1  1  1  1
2  1  2  1