In [1]:
import pandas as pd
df = pd.read_csv('autos.csv',encoding='cp1252')
#pd.read_csv('autos.csv', sep='|', names=m_cols , encoding='latin-1')

In [2]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [3]:
df.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,nrOfPictures,postalCode
count,3.715280e+05,371528.000000,371528.000000,371528.000000,371528.000000,371528.0,371528.00000
mean,1.729514e+04,2004.577997,115.549477,125618.688228,5.734445,0.0,50820.66764
std,3.587954e+06,92.866598,192.139578,40112.337051,3.712412,0.0,25799.08247
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.00000
25%,1.150000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30459.00000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49610.00000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71546.00000
max,2.147484e+09,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.00000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
dateCrawled            371528 non-null object
name                   371528 non-null object
seller                 371528 non-null object
offerType              371528 non-null object
price                  371528 non-null int64
abtest                 371528 non-null object
vehicleType            333659 non-null object
yearOfRegistration     371528 non-null int64
gearbox                351319 non-null object
powerPS                371528 non-null int64
model                  351044 non-null object
kilometer              371528 non-null int64
monthOfRegistration    371528 non-null int64
fuelType               338142 non-null object
brand                  371528 non-null object
notRepairedDamage      299468 non-null object
dateCreated            371528 non-null object
nrOfPictures           371528 non-null int64
postalCode             371528 non-null int64
lastSeen               371528 non-null object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [5]:
df.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [6]:
df.name.unique().size

233531

In [7]:
df.drop(['name' , 'nrOfPictures'] , axis = 1 , inplace = True)

In [8]:
#Checking if seller should be deleted or not

In [9]:
df.seller.unique()

array(['privat', 'gewerblich'], dtype=object)

In [10]:
df.groupby('seller').size()

seller
gewerblich         3
privat        371525
dtype: int64

In [11]:
#Checking if offerType should be deleted or not

In [12]:
df.offerType.unique()

array(['Angebot', 'Gesuch'], dtype=object)

In [13]:
df.groupby('offerType').size()

offerType
Angebot    371516
Gesuch         12
dtype: int64

In [14]:
#Checking if gearbox should be deleted or not

In [15]:
df.gearbox.unique()

array(['manuell', 'automatik', nan], dtype=object)

In [16]:
df.groupby('gearbox').size()

gearbox
automatik     77105
manuell      274214
dtype: int64

In [17]:
df.drop(['seller','offerType'] , axis = 1 , inplace = True)

In [18]:
df.head()

,dateCrawled,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,2016-03-24 11:52:17,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,60437,2016-04-06 10:17:21

In [19]:
#Checking if abtest should be deleted or not

In [20]:
df.abtest.unique()

array(['test', 'control'], dtype=object)

In [21]:
df.groupby('abtest').size()

abtest
control    178943
test       192585
dtype: int64

In [22]:
#checking for yr of registration for useless values

In [24]:
df.yearOfRegistration[df.yearOfRegistration < 1950].size

289

In [25]:
df.yearOfRegistration[df.yearOfRegistration > 2017].size

4134

In [26]:
#dropping the rows in which year of regstration is less than 1950 or year of registration greater than 2017

In [27]:
df = df[(df.yearOfRegistration >= 1950) & (df.yearOfRegistration <= 2016)]

In [28]:
df.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,postalCode
count,3.565590e+05,356559.000000,356559.000000,356559.000000,356559.000000,356559.000000
mean,1.739867e+04,2002.828707,116.659425,125458.086880,5.777294,50926.481373
std,3.658384e+06,7.123682,189.455437,40105.896338,3.693580,25819.970444
min,0.000000e+00,1950.000000,0.000000,5000.000000,0.000000,1067.000000
25%,1.150000e+03,1999.000000,72.000000,100000.000000,3.000000,30539.000000
50%,2.999000e+03,2003.000000,107.000000,150000.000000,6.000000,49716.000000
75%,7.400000e+03,2008.000000,150.000000,150000.000000,9.000000,71665.000000
max,2.147484e+09,2016.000000,20000.000000,150000.000000,12.000000,99998.000000

In [29]:
#checking for yr of powerPs for useless values

In [30]:
df.powerPS[df.powerPS < 10].size

37090

In [31]:
df.powerPS[df.powerPS > 500].size

790

In [32]:
df1 = df[(df.powerPS >= 10) & (df.powerPS <= 500)]

In [33]:
df1.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,postalCode
count,3.186790e+05,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000
mean,9.870973e+03,2003.088308,125.829477,125554.335240,5.977651,51443.752503
std,5.432048e+05,6.828423,60.119346,39317.018159,3.587543,25821.230870
min,0.000000e+00,1950.000000,10.000000,5000.000000,0.000000,1067.000000
25%,1.300000e+03,1999.000000,80.000000,100000.000000,3.000000,31073.000000
50%,3.350000e+03,2003.000000,116.000000,150000.000000,6.000000,50670.000000
75%,7.900000e+03,2008.000000,150.000000,150000.000000,9.000000,72351.000000
max,1.000000e+08,2016.000000,500.000000,150000.000000,12.000000,99998.000000

In [34]:
#dropping the null values

In [35]:
df1.isnull().sum()

dateCrawled                0
price                      0
abtest                     0
vehicleType            12106
yearOfRegistration         0
gearbox                 5855
powerPS                    0
model                  12406
kilometer                  0
monthOfRegistration        0
fuelType               16921
brand                      0
notRepairedDamage      45853
dateCreated                0
postalCode                 0
lastSeen                   0
dtype: int64

In [36]:
df1[(df1.vehicleType.isnull()) & (df1.gearbox.isnull()) & (df1.model.isnull()) & (df1.fuelType.isnull()) & (df1.notRepairedDamage.isnull()) ].size

2656

In [37]:
df1.loc[1390]

dateCrawled            2016-04-03 19:53:44
price                                  650
abtest                                test
vehicleType                            NaN
yearOfRegistration                    1970
gearbox                                NaN
powerPS                                 26
model                                  NaN
kilometer                           100000
monthOfRegistration                      5
fuelType                               NaN
brand                              trabant
notRepairedDamage                      NaN
dateCreated            2016-04-03 00:00:00
postalCode                            9337
lastSeen               2016-04-05 20:45:24
Name: 1390, dtype: object

In [38]:
df1['notRepairedDamage'].fillna(value = 'not declared' , inplace = True)
df1['fuelType'].fillna(value = 'not declared' , inplace = True)
df1['model'].fillna(value = 'not declared' , inplace = True)
df1['gearbox'].fillna(value = 'not declared' , inplace = True)
df1['vehicleType'].fillna(value = 'not declared' , inplace = True)

C:\Users\Prateek Jain\Anaconda3\lib\site-packages\pandas\core\generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [39]:
df1.isnull().sum()

dateCrawled            0
price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dateCreated            0
postalCode             0
lastSeen               0
dtype: int64

In [40]:
df1.head()

,dateCrawled,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
1,2016-03-24 10:58:45,18300,test,coupe,2011,manuell,190,not declared,125000,5,diesel,audi,ja,2016-03-24 00:00:00,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,not declared,2016-03-14 00:00:00,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,33775,2016-04-06 19:17:07

In [41]:
#calculating age of the car

In [42]:
from dateutil import parser
dt = parser.parse("Aug 28 1999 12:00AM")

In [43]:
dt

datetime.datetime(1999, 8, 28, 0, 0)

In [44]:
from datetime import datetime

datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
datetime_object

datetime.datetime(2005, 6, 1, 13, 33)

In [45]:
df1['dateCrawled'] = pd.to_datetime(df1['dateCrawled'])

C:\Users\Prateek Jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [46]:
df1['dateCrawled'].dt.year

1         2016
2         2016
3         2016
4         2016
5         2016
6         2016
7         2016
8         2016
9         2016
10        2016
11        2016
12        2016
13        2016
14        2016
16        2016
17        2016
18        2016
19        2016
20        2016
21        2016
23        2016
24        2016
25        2016
27        2016
28        2016
29        2016
30        2016
31        2016
33        2016
34        2016
          ...
371490    2016
371491    2016
371494    2016
371496    2016
371497    2016
371498    2016
371499    2016
371500    2016
371501    2016
371502    2016
371503    2016
371505    2016
371506    2016
371507    2016
371508    2016
371509    2016
371510    2016
371511    2016
371512    2016
371513    2016
371514    2016
371515    2016
371516    2016
371517    2016
371519    2016
371520    2016
371524    2016
371525    2016
371526    2016
371527    2016
Name: dateCrawled, Length: 318679, dtype: int64

In [47]:
df1['Age'] = df1['dateCrawled'].dt.year - df1['yearOfRegistration']

C:\Users\Prateek Jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
df1.head()

,dateCrawled,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen,Age
1,2016-03-24 10:58:45,18300,test,coupe,2011,manuell,190,not declared,125000,5,diesel,audi,ja,2016-03-24 00:00:00,66954,2016-04-07 01:46:50,5
2,2016-03-14 12:52:21,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,not declared,2016-03-14 00:00:00,90480,2016-04-05 12:47:46,12
3,2016-03-17 16:54:04,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,91074,2016-03-17 17:40:17,15
4,2016-03-31 17:25:20,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,60437,2016-04-06 10:17:21,8
5,2016-04-04 17:36:23,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,33775,2016-04-06 19:17:07,21

In [49]:
df1.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,postalCode,Age
count,3.186790e+05,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000
mean,9.870973e+03,2003.088308,125.829477,125554.335240,5.977651,51443.752503,12.911692
std,5.432048e+05,6.828423,60.119346,39317.018159,3.587543,25821.230870,6.828423
min,0.000000e+00,1950.000000,10.000000,5000.000000,0.000000,1067.000000,0.000000
25%,1.300000e+03,1999.000000,80.000000,100000.000000,3.000000,31073.000000,8.000000
50%,3.350000e+03,2003.000000,116.000000,150000.000000,6.000000,50670.000000,13.000000
75%,7.900000e+03,2008.000000,150.000000,150000.000000,9.000000,72351.000000,17.000000
max,1.000000e+08,2016.000000,500.000000,150000.000000,12.000000,99998.000000,66.000000

In [50]:
#remove useless time columns

In [51]:
df1.drop(['lastSeen','dateCreated'],axis=1,inplace=True)

C:\Users\Prateek Jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [52]:
df1.drop(['dateCrawled','monthOfRegistration'],axis=1,inplace=True)

C:\Users\Prateek Jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
df1.head()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,postalCode,Age
1,18300,test,coupe,2011,manuell,190,not declared,125000,diesel,audi,ja,66954,5
2,9800,test,suv,2004,automatik,163,grand,125000,diesel,jeep,not declared,90480,12
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,benzin,volkswagen,nein,91074,15
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,diesel,skoda,nein,60437,8
5,650,test,limousine,1995,manuell,102,3er,150000,benzin,bmw,ja,33775,21

In [54]:
string_cols = ['abtest' , 'vehicleType' , 'gearbox' , 'model' , 'fuleType' , 'brand' , 'notRepairedDamage']

In [55]:
#pick out price

In [56]:
target = df1.price
del df1['price']

In [57]:
df1.describe()

,yearOfRegistration,powerPS,kilometer,postalCode,Age
count,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000
mean,2003.088308,125.829477,125554.335240,51443.752503,12.911692
std,6.828423,60.119346,39317.018159,25821.230870,6.828423
min,1950.000000,10.000000,5000.000000,1067.000000,0.000000
25%,1999.000000,80.000000,100000.000000,31073.000000,8.000000
50%,2003.000000,116.000000,150000.000000,50670.000000,13.000000
75%,2008.000000,150.000000,150000.000000,72351.000000,17.000000
max,2016.000000,500.000000,150000.000000,99998.000000,66.000000

In [58]:
df['abtest'].dtype

dtype('O')

In [59]:
#convert strings into integers

In [60]:
from sklearn import preprocessing
for cols in df1.columns:
    df1[cols] = preprocessing.LabelEncoder().fit_transform(df1[cols])

df1.head()

C:\Users\Prateek Jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,postalCode,Age
1,1,3,61,1,180,163,11,3,1,0,4602,5
2,1,8,54,0,153,119,11,3,14,2,6980,12
3,1,4,51,1,65,118,12,1,38,1,7020,15
4,1,4,58,1,59,103,9,3,31,1,4199,8
5,1,6,45,1,92,11,12,1,2,0,2369,21

In [61]:
df1.describe()

,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,postalCode,Age
count,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000,318679.000000
mean,0.518205,4.555151,53.088308,0.798873,115.654718,102.700197,10.472177,2.012646,20.484051,1.048095,3676.224816,12.911692
std,0.499669,1.810968,6.828423,0.444321,59.344277,71.634189,2.809523,1.583994,13.449641,0.487197,2026.772436,6.828423
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,4.000000,49.000000,1.000000,70.000000,40.000000,10.000000,1.000000,9.000000,1.000000,2169.000000,8.000000
50%,1.000000,5.000000,53.000000,1.000000,106.000000,103.000000,12.000000,1.000000,23.000000,1.000000,3485.000000,13.000000
75%,1.000000,6.000000,58.000000,1.000000,140.000000,163.000000,12.000000,3.000000,33.000000,1.000000,5031.000000,17.000000
max,1.000000,8.000000,66.000000,2.000000,434.000000,250.000000,12.000000,7.000000,39.000000,2.000000,8128.000000,66.000000

In [62]:
df2 = df1

In [105]:
#scaled copy

In [63]:
X1 = preprocessing.scale(df1)

In [64]:
X1

array([[ 0.96422966, -0.85874141,  1.15864299, ..., -2.15127782,
         0.45677384, -1.15864299],
       [ 0.96422966,  1.90221669,  0.13351445, ...,  1.95384043,
         1.63006972, -0.13351445],
       [ 0.96422966, -0.30654979, -0.30582635, ..., -0.09871869,
         1.64980556,  0.30582635],
       ...,
       [ 0.96422966, -1.96312465, -1.03806101, ..., -0.09871869,
         1.45343392,  1.03806101],
       [ 0.96422966,  0.24564183, -0.15937941, ...,  1.95384043,
        -0.35239572,  0.15937941],
       [-1.03709733,  0.79783345,  1.45153686, ..., -0.09871869,
         0.73159546, -1.45153686]])

In [121]:
df1.head()

,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,postalCode,Age
1,1,3,2011,1,190,163,125000,3,1,0,66954,5
2,1,8,2004,0,163,119,125000,3,14,2,90480,12
3,1,4,2001,1,75,118,150000,1,38,1,91074,15
4,1,4,2008,1,69,103,90000,3,31,1,60437,8
5,1,6,1995,1,102,11,150000,1,2,0,33775,21

In [65]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression 
from sklearn import cross_validation

C:\Users\Prateek Jain\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [66]:
clf = LinearRegression()
xtrain,xtest,ytrain,ytest = cross_validation.train_test_split(X1,target,test_size = 0.2)

In [67]:
clf.fit(xtrain,ytrain)
clf.score(xtest,ytest)

0.0011447640036814644

In [68]:
score = cross_val_score(clf,xtrain,ytrain,cv=10)
score.mean()

-0.0011540293508669696

In [69]:
from sklearn.ensemble import RandomForestRegressor
clf1 = RandomForestRegressor()

clf1.fit(xtrain,ytrain)
clf1.score(xtest,ytest)

-3.7063986775863542